In [21]:
import pandas as pd

In [24]:
age = 19
f'{age} '

'19 '

In [25]:
file1 = pd.read_excel('master.xlsx')

In [105]:
df_lst = []
for i in range(1, 9):
    filename = f'l{i}.xlsx'
    df = pd.read_excel(filename, header=None, names=['Id'])
    df_lst.append(df)
    
print(df_lst[7].head())

   Id
0   8
1   2
2   9
3  10
4   4

In [106]:
pd.groupby(file1, 'Type')['BasePrice'].mean()

Type
D    640000
I    990000
Name: BasePrice, dtype: int64

In [107]:
df_lst[0].head()

   Id
0   2
1   1
2   3
3   4
4   5

In [108]:
df1 = df_lst[0]

In [109]:
df1.index

RangeIndex(start=0, stop=6, step=1)

In [110]:
d1 = df1.to_dict()['Id']

In [111]:
d1

{0: 2, 1: 1, 2: 3, 3: 4, 4: 5, 5: 7}

In [115]:
OFFSET = 17
LIMIT = 16

class Franchise:
    def __init__(self, id_, lst_players=[]):
        self.pl_lst = lst_players
        self.bought_lst = []
        self.value_dict = {}
        self.id = id_
        check_lst()
        self.num_bought = 0

    
    def assign_values(self):
        for p_id in values:
            if p_id in self.pl_lst:
                values[p_id] += self.pl_lst.index(p_id) + 1
            else:
                values[p_id] += OFFSET
    
    def check_lst():
        # check for validity
        flag = False
        for pid in pl_lst:
            if pid not in values:
                print(f'Player id {pid} is not unsold')
                flag = True
        if flag:
            self.update_list()
    
    def update_list():

In [116]:
[1, 2, 3, 4].index(3)

2

In [86]:
unsold_df = pd.read_excel('Unsold.xlsx')

In [92]:
values = {}
for pid in unsold_df['Id']:
    values[pid] = 0

In [93]:
values

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}

In [125]:
f1 = Franchise(1, list(d1.values()))

In [118]:
f1.pl_lst

[2, 1, 3, 4, 5, 7]

In [119]:
f1.assign_values()

In [123]:
sorted(values.items())

[(1, 2),
 (2, 1),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 12),
 (7, 6),
 (8, 12),
 (9, 12),
 (10, 12),
 (11, 12)]

In [127]:
df2 = df_lst[1]
d2 = df2.to_dict()['Id']
f2 = Franchise(2, list(d2.values()))
f2.assign_values()

In [130]:
sorted(values.items())

[(1, 3),
 (2, 3),
 (3, 6),
 (4, 8),
 (5, 10),
 (6, 24),
 (7, 18),
 (8, 20),
 (9, 19),
 (10, 18),
 (11, 24)]

In [131]:
df3 = df_lst[2]
d3 = df3.to_dict()['Id']
f3 = Franchise(3, list(d3.values()))
f3.assign_values()
sorted(values.items())

[(1, 8),
 (2, 5),
 (3, 9),
 (4, 18),
 (5, 16),
 (6, 28),
 (7, 27),
 (8, 28),
 (9, 26),
 (10, 19),
 (11, 36)]

In [132]:
df4 = df_lst[3]
d4 = df4.to_dict()['Id']
f4 = Franchise(4, list(d4.values()))
f4.assign_values()
sorted(values.items())

[(1, 13),
 (2, 14),
 (3, 19),
 (4, 21),
 (5, 22),
 (6, 32),
 (7, 29),
 (8, 29),
 (9, 33),
 (10, 27),
 (11, 48)]

In [133]:
df5 = df_lst[4]
d5 = df5.to_dict()['Id']
f5 = Franchise(5, list(d5.values()))
f5.assign_values()
sorted(values.items())

[(1, 18),
 (2, 18),
 (3, 22),
 (4, 23),
 (5, 23),
 (6, 42),
 (7, 38),
 (8, 37),
 (9, 40),
 (10, 33),
 (11, 60)]

In [134]:
df6 = df_lst[5]
d6 = df6.to_dict()['Id']
f6 = Franchise(6, list(d6.values()))
f6.assign_values()
sorted(values.items())

[(1, 23),
 (2, 22),
 (3, 25),
 (4, 25),
 (5, 24),
 (6, 52),
 (7, 47),
 (8, 45),
 (9, 47),
 (10, 39),
 (11, 72)]

In [135]:
df6 = df_lst[6]
d6 = df6.to_dict()['Id']
f7 = Franchise(7, list(d6.values()))
f7.assign_values()
sorted(values.items())

[(1, 32),
 (2, 23),
 (3, 35),
 (4, 32),
 (5, 29),
 (6, 58),
 (7, 50),
 (8, 53),
 (9, 51),
 (10, 41),
 (11, 83)]

In [136]:
df6 = df_lst[7]
d6 = df6.to_dict()['Id']
f8 = Franchise(8, list(d6.values()))
f8.assign_values()
sorted(values.items())

[(1, 40),
 (2, 25),
 (3, 44),
 (4, 37),
 (5, 39),
 (6, 64),
 (7, 57),
 (8, 54),
 (9, 54),
 (10, 45),
 (11, 95)]

In [137]:
sorted(values.items(), key=lambda x: x[1])

[(2, 25),
 (4, 37),
 (5, 39),
 (1, 40),
 (3, 44),
 (10, 45),
 (8, 54),
 (9, 54),
 (7, 57),
 (6, 64),
 (11, 95)]

In [150]:
u_df = unsold_df.drop(unsold_df.index[[1]])

In [151]:
u_df

    Id       PlayerName  BasePrice Type
0    1  A B De Villiers    2000000    I
2    3       Ben Stokes    1000000    I
3    4      Chris Gayle    1000000    I
4    5      Jos Buttler     750000    I
5    6     Chris Woakes     500000    D
6    7   Shikhar Dhawan     500000    D
7    8    Ishant Sharma     350000    D
8    9         MS Dhoni     350000    D
9   10     Rajat Bhatia     200000    I
10  11      Imran Tahir     200000    I

In [154]:
u_df.to_excel('Unsold.xlsx')